<!doctype html>
<html>
    <head>
        <title>XML Sitemap Generator</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="main">
            <header>
                <h1><a href="{{ url_for('index') }}">XML Sitemap Generator</a></h1>
                <span>A tool by <a href="http://www.jacobparry.ca/">Jacob Parry</a></span>
            </header>

            <div class="clear"></div>

            <div id="input">
                <form action="{{ url_for('index') }}" method="get">
                    <input type="text" name="domains" placeholder="jacobparry.ca" class="form-control">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

                    <div class="input-error">
                        <div class="input-error-arrow"></div>
                        <div class="input-error-message"></div>
                    </div>

                    <input type="submit" value="Submit" class="btn btn-success">
                </form>
            </div>

            <div class="clear"></div>

            <div id="output"></div>

            <footer>
                <p>
                    This work is licensed under the <a rel="license" href="https://raw.githubusercontent.com/parryjacob/sitemap/master/LICENSE">MIT License</a>.
                    <a href="https://github.com/parryjacob/sitemap">View Source</a> on GitHub.
                </p>
            </footer>

        </div>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        {% if dsn is defined and dsn is not none %}
        <script type="text/javascript" src="//cdn.ravenjs.com/1.1.16/jquery,native/raven.min.js"></script>
        <script type="text/javacsript">
            Raven.config('{{ dsn }}', {
                ignoreErrors: [
                    // Random plugins/extensions
                    'top.GLOBALS',
                    // See: http://blog.errorception.com/2012/03/tale-of-unfindable-js-error. html
                    'originalCreateNotification',
                    'canvas.contentDocument',
                    'MyApp_RemoveAllHighlights',
                    'http://tt.epicplay.com',
                    'Can\'t find variable: ZiteReader',
                    'jigsaw is not defined',
                    'ComboSearch is not defined',
                    'http://loading.retry.widdit.com/',
                    'atomicFindClose',
                    // Facebook borked
                    'fb_xd_fragment',
                    // ISP "optimizing" proxy - `Cache-Control: no-transform` seems to reduce this. (thanks @acdha)
                    // See http://stackoverflow.com/questions/4113268/how-to-stop-javascript-injection-from-vodafone-proxy
                    'bmi_SafeAddOnload',
                    'EBCallBackMessageReceived',
                    // See http://toolbar.conduit.com/Developer/HtmlAndGadget/Methods/JSInjection.aspx
                    'conduitPage'
                ],
                ignoreUrls: [
                    // Facebook flakiness
                    /graph\.facebook\.com/i,
                    // Facebook blocked
                    /connect\.facebook\.net\/en_US\/all\.js/i,
                    // Woopra flakiness
                    /eatdifferent\.com\.woopra-ns\.com/i,
                    /static\.woopra\.com\/js\/woopra\.js/i,
                    // Chrome extensions
                    /extensions\//i,
                    /^chrome:\/\//i,
                    // Other plugins
                    /127\.0\.0\.1:4001\/isrunning/i,  // Cacaoweb
                    /webappstoolbarba\.texthelp\.com\//i,
                    /metrics\.itunes\.apple\.com\.edgesuite\.net\//i
                ]
            }).install();
        </script>
        {% else %}
            {{ dsn }}
        {% endif %}
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
